.checkoutPage {
  width: 75%;
  margin: 0 auto;
  font-size: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #ccc;
    color: #999;

    .headerItem {
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .totalPrice {
    font-size: 5rem;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
  }
}
