.signUp {
  flex: 1;

  .title {
    font-size: 4rem;
    color: #101d2c;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 2.5rem;
    color: #777;
  }

  .signUpForm {
    padding: 2rem 0;
    margin-top: 3rem;

    .formControl {
      padding: 0.5rem 0rem;
      font-size: 3rem;
    }

    .formLabel {
      font-size: 2.5rem;
    }

    .signUpBtn {
      $btnTextColor: #f4f2f2;
      $signUpBtnBgColor: #000;

      width: 25rem;
      height: 8rem;
      margin: 1rem;
      border: 1px solid $signUpBtnBgColor;
      background-color: $signUpBtnBgColor;
      color: $btnTextColor;

      &:hover {
        background-color: $btnTextColor;
        color: $signUpBtnBgColor;
      }
    }
  }
}
