.casts {
  padding: 1rem;

  h3 {
    font-size: 2rem;
  }
  .castList {
    display: flex;
    overflow: scroll;

    li {
      margin: 10px;

      &:first-child {
        margin-left: 0;
      }

      img {
        width: 150px;
        min-height: 211px;
      }

      h4 {
        font-size: 1.5rem;
      }
    }
  }
}
