.collectionPage {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.5rem;
    color: #666;
    margin-bottom: 2rem;
  }

  .items {
    display: flex;
    justify-content: space-between;
  }
}
