.collectionPage {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 5rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
