
.content1 {
    width: 100px;
    height: 100px;
    margin: auto;
    transition: all 300ms ease-out;
    background-color: red;
}

.content2 {
    width: 100px;
    height: 100px;
    margin: auto;
    transition: all 300ms ease-out;
    // background-color: goldenrod;
}

.content3 {
    width: 100px;
    height: 100px;
    margin: auto;
    transition: all 300ms ease-out;
    // background-color: rgb(104, 96, 96);
}
