.Effect {
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) rotate(45deg);
    transition: transform 0.8s;
  }

  &:hover {
    background-color: #343a40;
    color: #fff;
    &::before {
      transform: translateX(100%) rotate(45deg);
    }
  }
}
