.Effect {
  transition: color 0.8s;

  &::before {
    content: '';
    width: 0;
    height: 100%;
    background-color: #6f42c1;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.8s;
  }

  &:hover {
    color: #fff;
    &::before {
      width: 100%;
    }
  }
}
