@import "../node_modules/@leozhao0709/react-milhouse/dist/scss/pre_global";
@import "../node_modules/@leozhao0709/react-milhouse/dist/scss/size";

body {
    margin: 0;
    padding: 4rem;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #666;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
